*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
        /* we can even add rotate(x deg)
        like 
        transform: translateX(-10px) rotate(120deg); */
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes moveleft {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}



@keyframes integrate {
    0% {
        opacity: 0;
        letter-spacing: 10px;
    }

    100% {
        opacity: 1;
        letter-spacing: 1px;
    }
}


.header {
    height: 70vh;
    background-image: linear-gradient(to bottom, rgb(126, 213, 111,0.9), rgb(40, 180, 133)),url(./vaaniClub.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.Clubname {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 7px;
    top: 65%;
    font-size: 90px;
    left: 7%;
    text-underline-offset: 30px;
    color: white;
    font-weight: 900;
    animation: moveInLeft 2s;
}



main {
    padding: 100px;
    position: relative;
}

.about-heading {
    text-underline-offset: 25px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
    animation: integrate 2s;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.about-image {
    max-width: 300px;
    margin-bottom: 10px;
    transition: all .4s;
}


.about-container {
    display: flex;
    justify-content: space-between;
}

.about-text {
    margin: 50px;
}

.about-sub-heading {
    text-transform: uppercase;
    font-weight: 600;
    color: black;
}

.about-content {
    padding: 10px 10px;
}

.secondary-button {
    border: none;
    color: rgb(40, 180, 133);
    font-weight: 700;
    transition: all .4s;
}

.secondary-button:hover {
    transform: translateY(-3px);
    background-color: rgb(40, 180, 133);
    color: #ffffff;
    padding: 7px;
    font-weight: 700;
    border-radius: 2px;
}

.events-section {
    padding: 110 0px;
    background-image: linear-gradient(to right, rgb(126, 213, 111), rgb(40, 180, 133));
}

.events {
    justify-content: space-around;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, rgb(126, 213, 111), rgb(40, 180, 133));
}

.event {
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: all 0.3s;
}

.event-name {
    margin: 10px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(40, 180, 133);
}

.event-pic {
    width: 600px;
}

.club-council-heading {
    font-size: 40px;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    word-spacing: 15px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgb(126, 213, 111), rgb(40, 180, 133));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 50px;
    animation: integrate 2s;
    margin-top: 40px;
    font-weight: 700;
    text-underline-offset: 25px;
}

.council {
    display: flex;
    flex-wrap: wrap;
}

.council-mem {
    background-image: linear-gradient(to right, rgb(126, 213, 111), rgb(40, 180, 133));
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 10px;
}

.Council {
    margin-bottom: 40px;
}

.council-name {
    margin-top: 20px;
    color: white;
}

.council-pic {
    width: 300px;
}

.event:hover{
    scale:1.1;
}

.about-image:hover{
    scale:1.05;
    border:5px solid rgb(40, 180, 133);
    padding:5px;
}